<div class="wrapper">
  <div class="signup-wrapper">
      <div class="signup-header">Login</div>
      <div class="signup-form">
          <div class="input-wrapper">
              <input type="email" id="user" class="input-field" required/>
              <label for="name" class="label">Email</label>
              <i class="bx bx-user icon"></i>
          </div>
          <div class="input-wrapper">
              <input type="password" id="user" class="input-field" required/>
              <label for="number" class="label">Password</label>
              <i class="bx bx-user icon"></i>
          </div>

          <div class="login-check">
              <div class="remember">
                  <input type="checkbox" id="remember-me"/>
                  <label for="remember-me">Remember me</label>
              </div>
              <div class="forgot">
                  <a href="#">Forgot password?</a>
              </div>
          </div>
          <div class="input-wrapper">
              <input type="submit" class="input-login" value="Login"/>
          </div>
           <div class="register">
              <span>Don't have an account?<a href="doctorsignup">SignUp</a></span>
           </div>
      </div>
  </div>
</div>

