/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap';



:root{
  --maincolor:#2ec8a6;
  --secondcolor:#f8a803;
  --thirdcolor:#f4ab01;
  --textcolor:#4A5764;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline: none;
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;

}


/* src/app/components/navbar/navbar.component.css */
.container-fluid{
  background-color: black;
}

.navbar-contact {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: black;
}

.navbar-contact span {
  font-size: 14px;
  color: white;
}

.navbar-nav .nav-item .nav-link {
  color: #555;
  font-size: 18px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #53dac8;
}


html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7%;
  width: 100%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  z-index: 1000;
  background-color: white !important;

}
.logo{
  width: 150px;
}
.logo img{
  width: 100%;
}
.navbar a{
  color: var(--textcolor);
  font-size: 1.7rem;
  margin: 1rem;
  position: relative;
  transition: 0.5s;
}
.navbar a:hover{
  color: var(--maincolor);
}

.navbar a::after{
  content: "";
  background-color: var(--maincolor);
  width: 0;
  position: absolute;
  height: 0.2rem;
  left: 0;
  margin-top: 0.5rem;
  top: 100%;
  transition: 0.5s;
}
.navbar a:hover::after{
  width: 100%;
}

#menu-bars{
  color: var(--textcolor);
  font-size: 2.5rem;
  cursor: pointer;
  margin-right: 1rem;
  display: none;
}
#menu-bars:hover{
  color: var(--maincolor);
}
.right-icons .btn {
  padding: 1.2rem 2rem;
  font-size: 1.7rem;
  background: var(--maincolor);
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.right-icons .btn:hover {
  background-color: var(--secondcolor);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:18px ;
}

.dropdown-content a:hover {
  background-color: rgb(73, 211, 176) ;
  color: white;
  transform: scale(0.8);

}

.dropdown:hover .dropdown-content {
  display: block;
}

/* header section ended */

/* Home section started */

.main-home{
  padding: 2rem 7%;
  background-image: url(../../../assets/images/blurbg1.jpg);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.home .home-left-content{
  flex: 1 1 40rem;
}

.home-left-content span{
  font-size: 2rem;
  color: var(--maincolor);
  padding: 1rem 0;
  font-weight: bolder;
  margin-top: 0.2rem;
  top: 0.2rem;
}
.home-left-content h2{
  font-size: 38px;
  margin: 3rem 0;

}
.home-left-content p{
  font-size: 2rem;
  color: black;
  line-height: 4rem;
}

.home-btn{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
.home-btn a{
  display: inline-block;
  padding: 1.5rem 3rem;
  background-color: var(--maincolor);
  font-size: 1.7rem;
  color: black;
  transition: 0.5s ease;
}
.home-btn a:hover{
  padding: 1.5rem 2.5rem;
}


.homebtnsec{
  background:transparent !important;
  color:  very black !important;
  border: 1px solid var(--maincolor);
}
.homebtnsec:hover{
  background-color: var(--secondcolor) !important;
  color: white !important;
}

.home .home-right-content{
  flex: 1 1 50rem;
}

.home .home-right-content img{
  width: 100%;
  margin-top: 25rem;
}





/* home section will end */

/* About us section  */
.main-about{
  padding: 2rem 7%;
  width: 100%;
  background-image: url(../../../assets/images/backgroung-pattern-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.main-about .about-heading{

  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: var(--maincolor);
  border-bottom: 2px solid var(--secondcolor);
  width: 200px;
  margin: 0 auto;
  padding: 2rem 0;

}
.inner-main-about{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

}

.about-inner-content-left{
  flex: 1 1 40rem;
}
.about-inner-content-left img{
  width: 100%;
  padding: 2rem;
  height: 55%;
}
.about-inner-content{
  flex: 1 1 45rem;
}
.about-inner-content img{

 width: 100%;
}
.about-right-content h2{
  font-size: 30px;
  padding: 1.5rem 0;
  color: black;
  font-weight: bolder;
  line-height: 4rem;
}
.about-right-content p{
  font-size: 1.5rem;
  padding: 1.5rem 0;
  color: var(--textcolor);
  font-family: "Inter", sans-serif;
  text-align: left;
  line-height: 2.5rem;
}
.aboutsec-content{
  line-height: 2.5rem !important;
}
.aboutbtn{
  padding: 1.5rem 3rem;
  background-color: transparent;
  border: 1px solid var(--maincolor);
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.5s all;
}
.aboutbtn:hover{
  background-color: var(--secondcolor);
  color: white;
  border:none;
  padding: 1.5rem 3.5rem;
}
.post{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,auto));
  gap:1.5rem;
  width: 100%;

}
.post-box{
  background: #fff;
  box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  height: 70vh;
}
.post-img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.post-title{
  font-size: 2rem;
  font-weight: 800;
  color: #172317;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-box-orient:vertical;
  overflow: hidden;
}
.post-date{
  display: flex;
  font-size: 1.36rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 4px;
}
.post-description{
  font-size: 2rem;
  line-height: 2rem;
  margin: 5px 0 10px;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow:hidden;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    object-position:center;
    border: 2px solid #fd8f44;
}
.profile-name{
  font-size: 2.5rem;
  font-weight: 400;
}




/* ===================================== Fooer CSS ================================== */
.main-doctors{
  padding: 2rem 7%;
  background-image: url(../../../assets/images/backgroung-pattern-3.png);
  background-color: #f5f5f5;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.doctors-heading{
  font-size: 30px;
  text-align: center;
 margin: 4rem;
 color: var(--maincolor);
}
.main-inner-doctor{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;

}
.doc-poster{
  flex: 1 1 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  overflow: hidden;

}
.doc-poster img{
  width: 100%;
  border: 0.7rem solid var(--secondcolor);
}
.doc-poster:hover img{
  border-radius: 0 50px 0 0;
}
.doc-icons{
  position: absolute;
  left: -100%;
  top: 10%;
  transition: 0.5s;
}
.doc-poster:hover .doc-icons{
  left: 5%;
}

.doc-icons i{
  font-size: 2rem;
  margin: 0.5rem;
  border: 1px solid var(--secondcolor);
  color: var(--maincolor);
  padding: 1rem;
  background-color: white;
  cursor: pointer;

}
.doc-icons i:hover{
  background-color: white;
  color: var(--secondcolor);
  border-radius: 10px !important;
  transform: scale(1.2);
  border: 1px solid var(--maincolor);
}
.doc-poster::after{
  content: "";
  background: linear-gradient(0deg, #f5f5f5 50%, transparent);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
  bottom: -200px;
  transition: 0.5s;
}
.doc-poster:hover:after{
  bottom: -100px;
}



.doc-details{
position: absolute;
text-align: center;
z-index: 2;
bottom: -30px;
left: 40%;

}
.doc-details h2{
  color: black;
  font-size: 25px;
  padding: 2rem 0;
}

.doc-details i{
  padding: 0.5rem;
  font-size: 2.5rem;
  color: var(--maincolor);
  cursor: pointer;
}
.doc-details i:hover{
  color: var(--secondcolor);
  transform: scale(1.2);
}

.doc-poster:hover .doc-details{
  bottom: 10px;
}
.our-service{
  width: 100%;
  padding: 3rem 7%;
}
.service-heading h2{
  font-size: 40px;
  color: #2ec8a6;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 3rem;
}
.main-services{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  text-align: center;
}
.inner-services{
  flex: 1 1 300px;
  padding: 3rem 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 2px solid var(--textcolor);

}
.inner-services:hover{
  transform: translateY(-10px);
  border-bottom: 2px solid var(--maincolor);
  background-color: #f5f5f5;
}
.inner-services:hover .service-icon{
  width: 100px;
  height: 100px;
  border-radius: 0;
  background-color: var(--maincolor);

}
.inner-services:hover .service-icon i{
  color: white;
  transform: scale(1.1);
}

.service-icon{
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid var(--maincolor);
  background-color: #f5f5f5;
}
.service-icon i{
  font-size: 3rem;
  color: var(--maincolor);
  padding: 1rem;
}
.inner-services h3{
  font-size: 2rem;
  padding-top: 2rem;
}
.inner-services p{
  font-size: 1.5rem;
  padding: 1.5rem 0;
  line-height: 2.5rem;

}
/* services ends */
.main-review{
  padding: 2.5rem 7%;
  width: 100%;

}


.review-heading{
  text-align: center;
}

.review-heading h1{
  font-size: 40px;
  color: var(--maincolor);
  padding-bottom: 3rem;
}
.review-inner-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem;
  text-align: center;
 padding: 4rem 0;

}
.review-box{
  flex: 1 1 300px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0 50px 0 0;
  border: 2px solid var(--maincolor);
  cursor: pointer;
  transition: 1s;
}
.review-box:hover{

  border-radius: 50px 0 0 0;

}

.review-box img{
  border-radius: 100%;
  width: 100px;
  transition: 1s;
}
.review-box:hover img{
  transform: scale(1.1);
}
.review-stars{
  padding: 1rem 0;
}
.review-stars i{
  font-size: 2rem;
  color: var(--secondcolor);
  margin: 0.2rem;
}
.review-box h2{
  font-size: 2rem;
  padding-top: 2rem;
}
.review-box p{
  font-size: 1.5rem;
  padding: 1rem 1rem;
  padding-bottom: 2rem;
  line-height: 2.5rem;
}



/* ===================================== Footer CSS ================================== */


.footer {
  background-color: black;
  color: white;
  padding: 20px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
}

.footer .col-md-4 {
  flex: 1;
  margin: 10px;
}

.footer h2 {
  margin-bottom: 10px;
}

.footer p, .footer address {
  margin-bottom: 10px;
}

.footer .link-list {
  list-style: none;
  padding: 0;
}

.footer .link-list li {
  margin-bottom: 5px;
}

.footer .link-list li a {
  color: white;
  text-decoration: none;
}

.footer .link-list li a:hover {
  text-decoration: underline;
}

.footer .social-media {
  margin-top: 10px;
}

.footer .social-media a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.footer .social-media a:hover {
  color: #ddd;
}





.copy {
  padding: 20px;
  background-color: #2E2E2E;
  color: #FFF; }
  .copy a {
    color: #FFF; }
  .copy span {
    float: right; }
    .copy span i {
      margin-right: 20px; }

.page-nav {
  padding: 40px;
  text-align: center;
  padding-top: 170px; }
  @media screen and (max-width: 409px) {
    .page-nav {
      padding-top: 210px; } }
  .page-nav h2 {
    font-size: 36px;
    width: 100%;
    color: #444;
    text-align: left; }
    @media screen and (max-width: 600px) {
      .page-nav h2 {
        font-size: 26px; } }
  .page-nav ul li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px; }
    .page-nav ul li i {
      width: 30px;
      text-align: center;
      color: #444; }
    .page-nav ul li a {
      color: #444; }

/* ===================================== About Us Style  ================================== */
.about-us {
  padding: 50px;
  background-color: #FFF; }
  @media screen and (max-width: 1199px) {
    .about-us .container {
      max-width: 100%; } }
  .about-us img {
    width: 100%;
    padding: 10px;
    background-color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .about-us h2 {
    font-size: 22px; }
  .about-us p {
    text-align: justify;
    text-indent: 20px; }

.kf-2 {
  background-color: #FCFCFC; }

.contact-rooo {
  padding: 50px;
  background-color: #FFF; }
  @media screen and (max-width: 940px) {
    .contact-rooo {
      padding: 30px 10px; } }

 .doc-poster:hover img{
  transform: translateY(-20px);
}

.doc-poster::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #f5f5f5 50%, transparent);
  z-index: 1;
  bottom: -220px;
  left: 0;
  transition: 0.5s;
}
.doc-poster:hover::after{
  bottom: -100px;
}
.details{
  color: black;
  font-size: 25px;
  position: absolute;
  bottom: 10px;
  left: 15px;
  z-index: 2;
}
.doc-poster:hover .details{
  bottom: 30px;
}



/* ===================================== Our Blog CSS ================================== */




.post{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,auto));
  justify-content: center;
  gap:1.5rem;
  margin-top: 15px;


}
.post-box{
  background: #fff;
  box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
  height: 50vh;

}
.post-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.post-title{
  font-size: 0.84rem;
  font-weight: 600;
  color: black;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient:vertical;
  overflow: hidden;
}
.post-date{
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 4px;
}
.post-decription{
  font-size: 0.4rem;
  margin: 5px 0 10px;
  display: -webkit-box;
  color: #666;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow:hidden;
}
.profile{
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position:center;
  border: 2px solid #fd8f44;
}

.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('https://www.alpha-hardin.com/wp-content/uploads/2022/08/shutterstock_718097074.jpg');
  background-position: center;
  backdrop-filter: blur(25px);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
.contact .contact_content{
  max-width: 800px;
  text-align: center;
}
.contact .contact_content h2{
  font-size: 45px;
  font-weight: 500;
  color: #2ec8a6;
  padding-bottom: 1rem;
}
.contact .contact_content p{
  font-weight: 350;
  color: black;
  font-size: 17px;
}
.contact_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contact_container .contactinfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact_container .contactinfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact_container .contactinfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.contact_container .contactinfo .box .icon i{
  color: black;
}
.contact_container .contactinfo .box .icon i:hover{
  color: #fff;
}
.contact_container .contactinfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px ;
  color:black;
  flex-direction: column;
  font-weight: 350;
}
.contact_container .contactinfo .box .text  h3{
  font-weight: 500;
  color:#2ec8a6;
}
.contact_container .contactinfo .box .text  h3:hover{
  color:#fff;
  cursor: pointer;
}
.contactform{
  width: 40%;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 2p rgba(0, 0, 0, 0.2);
}
.contactform h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactform .input-box{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactform .input-box input,
.contactform .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline:none;
  resize: none;
}
.contactform .input-box span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactform .input-box input:focus ~ span,
.contactform .input-box input:valid ~ span,
.contactform .input-box textarea:focus ~ span,
.contactform .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactform .input-box input[type="submit"]{
  width: 100px;
  background:#2ec8a6;
  color: #172317;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.contactform .input-box input[type="submit"]:hover{
  color: #2ec8a6;
  background-color: #fff;
  border: 2px solid #2ec8a6;
}






/* ===================================== Fooer CSS ================================== */

footer{
  position: relative;
  width: 100%;
  height: 30vh;
  padding: 50px 50px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 20px;

}
footer .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;

}
footer .container .sec {
  margin-right: 30px;
}
footer .container .sec.aboutus{
  width: 30%;
}

footer .container h2{

   position: relative;
   color: #fff;
   font-weight: 500;
   margin-bottom: 15px;
   font-size: 25px;


}

footer .container .sec.aboutus h2::before {
  content: '';
  position: relative;
  bottom: -5px;
  left: 0;
  width: 2px;
  height: 2px;
  background: rgb(224, 150, 100);

}

footer p{
  color: #999;
  font-size: 15px;

}

.sci {
  margin-top: 20px;
  display: flex;
}
.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-right:10px ;
  text-decoration: none;
  border-radius: 4px;

}
.sci li a:hover{
  background: #d1751f;
}


.quickLinks{
  position: relative;
  width: 25%;
   right: 40px;
}

.quickLinks ul li{
  list-style: none;
}

.quickLinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover{
   color: #fff;
}

.contactt {
  width: 30%;
  margin-right: 0 !important;
}

.contactt .info {
  position: relative;
}

.contactt .info li {
  display: flex;
  margin-bottom: 16px;
}

.contactt .info li span:nth-child(1)
{
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.contactt .info li span {
   color: #999;
}
.contactt .info li span a{
  color: #999;
  text-decoration: none;
}
.contactt .info li span a:hover{
  color: #fff;
}

.copyrightText{
  width: 100%;
  background-color: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
  font-size: 20px;
  top: 10px;
}



@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }

  .footer .col-md-4 {
    margin-bottom: 20px;
  }
}




.copy {
  padding: 20px;
  background-color: #2E2E2E;
  color: #FFF; }
  .copy a {
    color: #FFF; }
  .copy span {
    float: right; }
    .copy span i {
      margin-right: 20px; }

.page-nav {
  padding: 40px;
  text-align: center;
  padding-top: 170px; }
  @media screen and (max-width: 409px) {
    .page-nav {
      padding-top: 210px; } }
  .page-nav h2 {
    font-size: 36px;
    width: 100%;
    color: #444;
    text-align: left; }
    @media screen and (max-width: 600px) {
      .page-nav h2 {
        font-size: 26px; } }
  .page-nav ul li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px; }
    .page-nav ul li i {
      width: 30px;
      text-align: center;
      color: #444; }
    .page-nav ul li a {
      color: #444; }


@media (max-width:768px) {

  html{
      font-size: 55%;
  }

  .right-icons{
      display: flex;
      align-items: center;
  }

  #menu-bars{

      display: initial;
  }

  header{
      padding: 2rem;
      background-color: white;
  }

  .navbar{
      position: absolute;
      top: 100%;
      left: -100%;
      height: 100vh;
      width: 100%;
      background-color: white;
  }
  .navbar.active{
      left: 0;
  }
  .navbar a{
      display: block;
      margin: 2rem;
      padding: 1rem;
      border: 1px solid var(--textcolor);
  }

  .home .home-left-content{
      margin-top: 50px;
      padding: 2rem;
  }

  .home .home-left-content h2{
      font-size: 30px;
  }
  .main-technology{

      margin-top: 0;
  }

  .about-right-content h2{
      font-size: 20px;
  }

}
