<div class="body">
    <header>
            
        <div class="logo"><img src="assets/images/medical.jpg" alt=""></div>
    
        <nav class="navbar">
            <a href="">Home</a>
            <a href="#">Blog</a>
            <a href="#Home">Notification</a>
            <a href="appointment">Appointment</a>
            <a href="#Home">Chat</a>
            <a href="signup">Contact</a>
        </nav>
    
        <div class="right-icons">
            <div id="menu-bars" class="fas fa-bars"></div>
            <a href="profile"><i class="fi fi-tr-user-md"></i></a>
        </div>
    </header>
    </div>
<div class="main">
   <div class="container">
        <div class="profileform">
            <img src="../../../assets/images/download.png" alt="profile" class="profile-img">
            <form>
                <div class="input-box">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>
                <div class="input-box">
                    <input type="email" name="" required="required">
                    <span>Email</span>
                </div>
                <div class="input-box">
                    <input type="text" name="" required="">
                    <span>Address</span>
                </div>
                <div class="input-box">
                    <input type="submit" name="" value="Save">
                </div>
            </form>
            </div>
    </div>
    </div>

