*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
}
body{
    background-color:#073362;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    background-image: url('https://www.alpha-hardin.com/wp-content/uploads/2022/08/shutterstock_718097074.jpg');
    background-position: center;
	background-size: cover;
}
.signup-wrapper{
    position: relative;
    padding: 4rem 1.5rem 1rem 1.5rem;
    border: 2px solid #c0c0c0;
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 10px 2p rgba(0, 0, 0, 0.2);
    color: black;
}
.signup-header{
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;
    background-color: #c0c0c0;
    color: black;
    font-size: clamp(0.8rem,5vw,3rem);
}
.signup-form{
    display: flex;
    flex-direction: column;
    margin-top: clamp(0.5rem, 3vw, 3rem);
    font-size: clamp(0.8rem,3vw,1rem);
    gap: 1rem;
}
.signup-header::before{
    content:"";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 150x 0 0 0 #c0c0c0;
}
.signup-header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #c0c0c0;
}
.input-wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
}
.input-field{
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #c0c0c0;
    border-radius: 30px;
    outline: none;
    background: transparent;
    color: black;
}
.label{
    position: absolute;
    top:50%;
    left: 5%;
    transform: translateY(-50%);
    transition: 0.2s;
    color: black;
}
.input-field:focus~.label,
.input-field:valid~.label{
    position: absolute;
    top: 0%;
    left:0%;
    padding: 0 10px;
    border-radius: 30px;
    background-color: #c0c0c0;
    color: black;
}
.icon{
    position: absolute;
    top: 18px;
    right: 25px;
}
.login-check{
    display: inline-block;
    flex-direction:column;
    align-items: center;
    gap: 1rem;
    padding-top: 10px;
}
.forgot{
    font-size:clamp(0.7rem,2vw,0.8rem);
}
.forgot a{
    margin-top: 100px;
    color: #008cba;
}
.input-login{
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 20px;
    background: white;
    font-size: clamp(0.9rem,2.6vw,1.3rem);
    font-weight: 450;
    cursor: pointer;
    transition:0.3s;
}
.input-login:hover{
    background-color:black;
    color: white;
}
.register{
    color: #c0c0c0;
    text-align: center;
    gap: 0.5rem;
}
.register a{
    font-weight: 500;
    color: #008cba;
}
.input-wrapper,
.in{
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: space-between;

}
.input-wrapper{
    margin-bottom: 2%;
}
.in{
    margin-left:3% ;
}
.advice{
    font-size: 15px;
    color: #c0c0c0;
    text-align: center;
}
.advice a{
    margin-left: 5px;
    color: #008cba;
}
.advice a:hover{
    color: black;
}