@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    font-family: "Inter", sans-serif;
    
}

.body{
    font-size:20%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3%;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    z-index: 1000;
    background-color: white !important;

}
.logo{
    width: 150px;
}
.logo img{
    width: 100%;
}
.navbar a{
    color:#4A5764 ;
    font-size: 1.2rem;
    margin: 1rem;
    position: relative;
    transition: 0.5s;
}
.navbar a:hover{
    color:#2ec8a6 ;
}

.navbar a::after{
    content: "";
    background-color:#2ec8a6 ;
    width: 0;
    position: absolute;
    height: 0.2rem;
    left: 0;
    margin-top: 0.5rem;
    top: 100%;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}

#menu-bars{
    color: #4A5764;
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 1rem;
    display: none;
}
#menu-bars:hover{
    color: #2ec8a6;
}
.right-icons a{

    padding: 1.1rem 1.5rem;
    font-size: 1.0rem;
    background:white;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
}

.right-icons i{
    font-size: 38px;
    color: black;
}
.right-icons i:hover{
    color: #2ec8a6;
    font: 28px;
    transition: .3s;
}
.main-home{
    padding: 2rem 7%;
    width: 100%;
    background-image: url(../../../assets/images/doc.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom:20%;
}
.home .home-left-content{
    flex: 1 1 40rem;
}

.home-left-content span{
    font-size: 1.8rem;
    color: #2ec8a6;
    padding: 1rem 0;
    font-weight: bolder;
}
.home-left-content h2{
    font-size: 40px;
    margin: 1rem 0;
    
}
.home-left-content p{
    font-size: 1.2rem;
    color: #4A5764;
    line-height: 2rem;
}
.lorem{
    width: 50%;
}

.home-btn{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}
.home-btn a{
    display: inline-block;
    padding: 1.5rem 3rem;
    background-color:#2ec8a6 ;
    font-size: 1.3rem;
    color: white;
    transition: 0.5s ease;
    margin-right: 4px;
}
.home-btn a:hover{
    padding: 1.5rem 2.5rem;
}


.homebtnsec{
    background:transparent !important;
    color: #4A5764 !important;
    border: 1px solid #2ec8a6;
    gap: 2px;
}
.homebtnsec:hover{
    background-color: #f8a803 !important;
    color: white !important;
}

.home .home-right-content{
    flex: 1 1 50rem;
}

.home .home-right-content img{
    width: 100%;
    margin-top: 4rem;
}
.technology{
    padding: 3rem 7%;
}

.main-technology{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: -100px;
}
.inner-technology{
    flex: 1 1 300px;
    padding: 3rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: white;
    position: relative;
    z-index: 1;
}

.inner-technology span{
    width: 0;
    height: 100%;
    background-color: #2ec8a6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
    
}
.inner-technology:hover span{
    width: 100%;
}


/* .inner-technology:hover{
    background: var(--maincolor);
    
} */

.inner-technology:hover i{
    
    color: white;
}
.inner-technology:hover h2{
    color: white;
}
.inner-technology:hover p{
    color: white;
}
.inner-technology i{
    font-size: 48px;
    color: #2ec8a6;
}

.inner-technology h2{
    font-size: 2.0rem;
    padding: 1rem 0;
}
.inner-technology p{
    font-size: 1.0rem;
    line-height: 1.3rem;
    padding: 1rem 0;
    color: #4A5764 ;
}
.pp{
    display: flex;
    margin: 20px;
    margin-left: 40px;
    margin-bottom: 100px;
}
.imgg{
    height: 20vh;
}
.imgg img{
    border-radius: 50%;
}
.pp .text{
    padding-left: 10%;
    padding-top: 30px;
}
.pp .text h2{
    font-family: 'Poppin',sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding-bottom: 7px;
}
.pp .text h4{
    font-weight: 200;
    font-size: 0.9rem;
    font-family: 'Poppin',sans-serif;
    gap: 1rem;
    letter-spacing: 0.5px;
    padding-top: 1px;
}
.pp .stars{
    padding-left: 10px;
    padding-top: 40px;
    row-gap: 2px;
}
.nav {
    background-color: white;
    margin-top:-10px;
}
.write-blog{
    padding-top: 30px;
    padding-left: 20px;
}
.write-blog h2{
    font-size: 2.5rem;
    font-family: 'Playfair Display',serif;
    line-height: 1.1;
    color: #3c393d;
}
.content{
    width: 50%;
    position: relative;
    padding: 3rem 1.5rem 1rem 1.5rem;  
    border: 2px solid #c0c0c0;
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 10px 2p rgba(0, 0, 0, 0.2);
    color: black;
    padding: 0.5rem;
    border: 2px solid #c0c0c0;
    border-radius: 30px;
    outline: none;
    background: transparent;
}
.catagory{
    width: 25%;
    position: relative;
    padding: 3rem 1.5rem 1rem 1.5rem;  
    border: 2px solid #c0c0c0;
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 10px 2p rgba(0, 0, 0, 0.2);
    color: black;
    padding: 0.5rem;
    border: 2px solid #c0c0c0;
    border-radius: 30px;
    outline: none;
    background: transparent;
    color: black;
}
.tags{
    width: 50%;
    position: relative;
    padding: 3rem 1.5rem 1rem 1.5rem;  
    border: 2px solid #c0c0c0;
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 10px 2p rgba(0, 0, 0, 0.2);
    color: black;
    padding: 0.5rem;
    border: 2px solid #c0c0c0;
    border-radius: 30px;
    outline: none;
    background: transparent;
}
.publish{
    width: 30%;
    padding: 0.6rem;
    border: none;
    border-radius: 20px;
    background: white;
    font-size: clamp(0.8rem,2.3vw,1.2rem);
    font-weight: 300px;
    cursor: pointer;
    transition:0.3s;
    margin-bottom: 20px;
}

.blog-form{
    display: flex;
    flex-direction: column;
}

.blog-form label {
    margin-top: 1em;
}

.blog-form input, 
.blog-form textarea, 
.blog-form select {
    padding: 0.5em;
    margin-top: 0.5em;
}

.blog-form button {
    margin-top: 1em;
    padding: 0.5em;
    background-color:  #2ec8a6;
    color: white;
    border: none;
    cursor: pointer;
}
.blog-form button:hover{
    background-color: #3c393d;
    color: whitesmoke;
}
.banner{
    font-family: 'Quicksand',sans-serif;
    line-height: 1.4;
    background-image: url('../../../assets/images/hoss.jpg');
    background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#3c393d;
    padding-top: 200px;
    height: 100vh;
    margin-top: -200px;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding:0 1.2rem;
}
.banner-title{
    font-size: 3rem;
    font-family: 'Playfair Display',serif;
    line-height: 1.2;
}
.banner-title span{
    font-family:'Playfair Display',serif ;
    color: #2ec8a6;
}
.banner p{
    padding: 1rem 0 2rem 0;
    border-radius: 2rem;
    text-transform: capitalize;
    font-family: 'Roboto',serif;
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background:black;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search-input{
    font-family: 'Roboto',serif;
    font-size:1.1rem;
    width:100%;
    outline: 0;
    padding:0.6rem 0;
    border: none;
    background-color:black;
    color: whitesmoke;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color:whitesmoke;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}
.search-btn:hover{
    color: #3c393d;
    transition: .2s;
}
.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    justify-content: center;
    gap:1.5rem;
    margin-top: -100px;
}
.post-box{
    background: #fff;
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}
.post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}
.post-title{
    font-size: 0.84rem;
    font-weight: 600;
    color: black;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient:vertical;
    overflow: hidden;
}
.post-date{
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}
.post-decription{
    font-size: 0.4rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    color: #666;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position:center;
    border: 2px solid #fd8f44;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('https://www.alpha-hardin.com/wp-content/uploads/2022/08/shutterstock_718097074.jpg');
    background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto',sans-serif;
}
.contact .contact_content{
    max-width: 800px;
    text-align: center;
}
.contact .contact_content h2{
    font-size: 45px;
    font-weight: 500;
    color: #2ec8a6;
    padding-bottom: 1rem;
}
.contact .contact_content p{
    font-weight: 150;
    color: black;
    font-size: 15px;
}
.contact_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contact_container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact_container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contact_container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contact_container .contactinfo .box .icon i{
    color: black;
}
.contact_container .contactinfo .box .icon i:hover{
    color: #fff;
}
.contact_container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px ;
    color:#333;
    flex-direction: column;
    font-weight: 300;
}
.contact_container .contactinfo .box .text  h3{
    font-weight: 500;
    color:#2ec8a6;
}
.contact_container .contactinfo .box .text  h3:hover{
    color:#fff;
    cursor: pointer;
}
.contactform{
    width: 40%;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 2p rgba(0, 0, 0, 0.2);
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .input-box input,
.contactform .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline:none;
    resize: none;
}
.contactform .input-box span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .input-box input:focus ~ span,
.contactform .input-box input:valid ~ span,
.contactform .input-box textarea:focus ~ span,
.contactform .input-box textarea:focus ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .input-box input[type="submit"]{
    width: 100px;
    background:#2ec8a6;
    color: #172317;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.contactform .input-box input[type="submit"]:hover{
    color: #2ec8a6;
    background-color: #fff;
    border: 2px solid #2ec8a6;
}
