<div class="body">
<header>
        
    <div class="logo"><img src="assets/images/medical.jpg" alt=""></div>

    <nav class="navbar">
        <a href="">Home</a>
        <a href="#">Blog</a>
        <a href="#Home">Notification</a>
        <a href="appointment">Appointment</a>
        <a href="#Home">Chat</a>
        <a href="signup">Contact</a>
    </nav>

    <div class="right-icons">
        <div id="menu-bars" class="fas fa-bars"></div>
        <a href="profile"><i class="fi fi-tr-user-md"></i></a>
    </div>

</header>
<div class="main-home">

    <div class="home">
        <div class="home-left-content">
            <span>welcome to hospital management</span>
            <h2>We take care our<br> Patients Healths</h2>
            <p class="lorem">we offer a wide range of medical services to meet your healthcare needs.
                 Our team of experienced professionals is here to ensure you receive the best possible care.</p>
                <div class="home-btn">
                    <a class="homebtnsec" href="">Read More</a>
                    <a class="homebtnsec" href="">Appointment</a>
                </div>
                
            </div>

        <div class="home-right-content">
            <img src="" alt="">
        </div>
    </div>
</div>
<div class="technology">
    <div class="main-technology">
        <div class="inner-technology">
            <span></span>
            <i class="fi fi-tr-hands-heart"></i>
            <h2>Quality & Safety</h2>
            <p>Our Delmont hospital utilizes state of the art technology and employs a team of true experts.</p>
        </div>
        <div class="inner-technology">
            <span></span>
            <i class="fi fi-rr-doctor"></i>
            <h2>Quality & Safety</h2>
            <p>Our Delmont hospital utilizes state of the art technology and employs a team of true experts.</p>
        </div>
        <div class="inner-technology">
            <span></span>
            <i class="fi fi-tr-user-md"></i>
            <h2>Quality & Safety</h2>
            <p>Our Delmont hospital utilizes state of the art technology and employs a team of true experts.</p>
        </div>
    </div>
</div>
</div>
<div class="pp">
    <div class="imgg">
        <img src="../../../assets/images/download.png">
    </div>
    <div class="text">
        <h2>Name:  {{authorName}}</h2>
        <h4>Specialized:  {{specialty}}</h4>
        <h4>Address:  {{address}}</h4>
        <h4>Phone:  {{phone}}</h4>
        <h4>Bio:  {{bio}}</h4>
    </div>
    <div class="stars">
        <i class="fi fi-rr-star"></i>
        <i class="fi fi-rr-star"></i>
        <i class="fi fi-rr-star"></i>
        <i class="fi fi-rr-star"></i>
        <i class="fi fi-rr-star"></i>
    </div>
</div>


 <div class="nav">
        <div class="write-blog">
            <h2>Write Blog</h2>
            <form class="blog-form">
                <label for="title" class="labell">Title:</label>
                <input type="text" class="content" name="title" required>
                <label for="content" class="labell">Content:</label>
                <textarea class="content" name="content" required></textarea>
                <label for="catagory">Category:</label>
                <select class="catagory" name="catagory">
                    <option value="general">General Health</option>
                    <option value="pediatrics">Pediatrics</option>
                    <option value="cardiology">Cardiology</option>
                    <option value="dermatology">Dermatology</option>
                    <option value="orthopedics">Orthopedics</option>
                </select>
                <label for="tags">Tags:</label>
                <input type="text" class="tags" name="tags">
                <button type="submit" class="publish">Publish</button>
            </form>
        </div>
<div class="banner">
    <div class="container">
        <h1 class="banner-title">
            <span>Art.</span>Design Blog
        </h1>
        <p>everything that you want to know about our hospital functions.</p>
        <form>
            <input type="text" class="search-input" placeholder="search">
            <button type="submit" class="search-btn">
                <i class="fi fi-rr-search"></i>
            </button>
        </form>
    </div>
</div>
<!-----blog main page-->
<section class="post">
    <div class="post-box">
        <img src="../../../assets/images/fkk.jpg" alt="" class="post-img">
        <div class="profile">
            <img src="../../../assets/images/fkk.jpg" alt="" class="profile-img">
            <span class="profile-name">Dr.Hermela</span>
        </div>
        <span class="post-date">16 August 2024</span>
        <a href="#" class="post-title">
            Do you know you can protect yourself from cervical cancer?
        </a>
        <p class="post-description">cervical stays in permanent disease protect yourself from cervical cancer</p>
    </div>
    <div class="post-box">
        <img src="../../../assets/images/fkk.jpg" alt="" class="post-img">
        <div class="profile">
            <img src="../../../assets/images/fkk.jpg" alt="" class="profile-img">
            <span class="profile-name">Dr.Hermela</span>
        </div>
        <span class="post-date">16 August 2024</span>
        <a href="#" class="post-title">
            Do you know you can protect yourself from cervical cancer?
        </a>
        <p class="post-description">cervical stays in permanent disease protect yourself from cervical cancer</p>
    </div>    
    <div class="post-box">
        <img src="../../../assets/images/fkk.jpg" alt="" class="post-img">
        <div class="profile">
            <img src="../../../assets/images/fkk.jpg" alt="" class="profile-img">
            <span class="profile-name">Dr.Hermela</span>
        </div>
        <span class="post-date">16 August 2024</span>
        <a href="#" class="post-title">
            Do you know you can protect yourself from cervical cancer?
        </a>
        <p class="post-description">cervical stays in permanent disease protect yourself from cervical cancer</p>
    </div>    
    <div class="post-box">
        <img src="../../../assets/images/fkk.jpg" alt="" class="post-img">
        <div class="profile">
            <img src="../../../assets/images/fkk.jpg" alt="" class="profile-img">
            <span class="profile-name">Dr.Hermela</span>
        </div>
        <span class="post-date">16 August 2024</span>
        <a href="#" class="post-title">
            Do you know you can protect yourself from cervical cancer?
        </a>
        <p class="post-description">cervical stays in permanent disease protect yourself from cervical cancer</p>
    </div>      
</section>
<!--contact form-->
<section class="contact">
    <div class="contact_content">
        <h2>Contact Us</h2>
        <p>care and cure cares takes pride in its world class user experience and customer satisfaction, we are very eager to here from you about your experience with out services.</p>
    </div>
    <div class="contact_container">
        <div class="contactinfo">
            <div class="box">
                <div class="icon"><i class="fi fi-rr-marker" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Address</h3>
                    <p>4671 sugar camp Road,<br>Owatonna,Minnesota,<br>55060</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fi fi-rr-phone-flip" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Phone</h3>
                    <p>+251903494845</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fi fi-rr-envelope" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Email</h3>
                    <p>medicare340-gmail.com</p>
                </div>
            </div>
        </div>
        <div class="contactform">
            <form>
                <h2>Send Message</h2>
                <div class="input-box">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>
                <div class="input-box">
                    <input type="email" name="" required="required">
                    <span>Email</span>
                </div>
                <div class="input-box">
                    <textarea required="required"></textarea>
                    <span>Type your Message...</span>
                </div>
                <div class="input-box">
                    <input type="submit" name="" value="send">
                </div>
                
            </form>
        </div>
    </div>
</section>
