<div class="wrapper" >
    <div class="signup-wrapper">
        <div class="signup-header">Signup</div>
        <div class="signup-form">
            <div class="input-wrapper">
                <input type="text" id="use" class="input-field" required/>
                <label for="name" class="label">First name</label>
            </div>
            <div class="input-wrapper">
                <input type="text" id="usr" class="input-field" required/>
                <label for="name" class="label">Last name</label>
                <i class="bx bx-user icon"></i>
            </div>
            <div class="input-wrapper">
                <input type="email" id="uer" class="input-field" required/>
                <label for="number" class="label">Email</label>
                <i class="bx bx-user icon"></i>
            </div>
            <div class="input-wrapper">
                <input type="password" id="ser" class="input-field" required/>
                <label for="number" class="label">Password</label>
                <i class="bx bx-user icon"></i>
            </div>
            <div class="input-wrapper">
                <input type="password" id="ur" class="input-field" required/>
                <label for="number" class="label">Confirm Password</label>
                <i class="bx bx-user icon"></i>
            </div>
            <div class="input-wrapper">Role
                <input type="radio" id="doctor" name="role" value="doctor" class="in">
                <label for="doctor">Doctor</label>
                <input type="radio" id="patient" name="role" value="patient" class="in">
                <label for="patient">Patient</label>
            </div>
            <div class="input-wrapper">Education
                <input type="file" id="user" class="input-field" required/>
                <i class="bx bx-user icon"></i>
            </div>
            <div class="input-wrapper">CV
                <input type="file" id="user" class="input-field" required/>
                <i class="bx bx-user icon"></i>
            </div>
            <div class="input-wrapper">
                <input type="submit" class="input-login" value="Signup"/>
            </div>
            <div class="advice">
                Already have an account?<a href="login">Login</a>
            </div>
        </div>
    </div>
     </div>
