*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    background-image: url('https://www.alpha-hardin.com/wp-content/uploads/2022/08/shutterstock_718097074.jpg');
    background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

.signup-wrapper{
    position: relative;
    padding: 3rem 1.5rem 1rem 1.5rem;
    border: 2px solid #c0c0c0;
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 10px 2p rgba(0, 0, 0, 0.2);
    color: black;
}
.signup-header{
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;
    background-color: #c0c0c0;
    color: black;
    font-size: clamp(0.9rem,5vw,2rem);
}
.signup-form{
    display: flex;
    flex-direction: column;
    margin-top: clamp(0rem, 0vw, 0rem);
    font-size: clamp(0.4rem,1vw,1rem);
    gap: 0.2rem;
}
.input-wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
}
.input-field{
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #c0c0c0;
    border-radius: 30px;
    outline: none;
    background: transparent;
    color: black;
}
.label{
    position: absolute;
    top:50%;
    left: 5%;
    transform: translateY(-50%);
    transition: 0.2s;
    color: black;
}
.input-field:focus~.label,
.input-field:valid~.label{
    position: absolute;
    top: 0%;
    left:0%;
    padding: 0 10px;
    border-radius: 30px;
    background-color: #c0c0c0;
    color: black;
}
.icon{
    position: absolute;
    top: 18px;
    right: 25px;
}
.login-check{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 0.5rem;
}
.forgot{
    font-size:clamp(0.7rem,2vw,0.8rem);
}
.input-login{
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 20px;
    background: white;
    font-size: clamp(0.9rem,2.6vw,1.3rem);
    font-weight: 450;
    cursor: pointer;
    transition:0.3s;
}
.input-login:hover{
    background-color:black;
    color: white;
}
.input-wrapper,
.in{
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: space-between;

}
.input-wrapper{
    margin-bottom: 2%;
}
.in{
    margin-left:3% ;
}
.advice{
    font-size: 15px;
    color: #c0c0c0;
    text-align: center;
}
.advice a{
    margin-left: 5px;
    color: #008cba;
}
.advice a:hover{
    color: black;
}
.t{
    width: 100%;
    height: 100vh;
}

.ti {
    width: 100%;
    height: 100vh;
}